body{
 background-image: url(imagenes/fondo1.png);
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-color: #464646;
 color: #FFFFFF;
 border: 3px solid #2F4F4F;
 padding: 80px 15px;
}



#columna {
    float: right;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: -webkit-linear-gradient(top, #7B68EE, #AFEEEE);
    background: -moz-linear-gradient(top, #7B68EE, 50%, #AFEEEE 90%);
  }
